services:
  gui:
    image: lscr.io/linuxserver/webtop:ubuntu-xfce
    platform: linux/amd64 # For Linux / Mac (Intel)
    environment:
      - TZ=Asia/Tokyo
      - PUID=1000
      - PGID=1000
    ports:
      - "6810:3000"
    shm_size: "2g"
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix

  lenewton:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - LENEWTON_PATH_ARG=/workspace/lenewton
        - DOCKER_USER_HOME_ARG=/root
    environment:
      - DISPLAY=:1
      - LIBGL_ALWAYS_INDIRECT=0
      - QT_X11_NO_MITSHM=1
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility,graphics
    volumes:
      - ./:/workspace/lenewton
      - /tmp/.X11-unix:/tmp/.X11-unix
    privileged: true
    network_mode: host
    gpus:
      - driver: nvidia
        count: all
        capabilities: [gpu, utility]
    working_dir: /workspace/lenewton/
    depends_on: [gui]
    entrypoint: ["bash"]
    tty: true
    stdin_open: true
